DESENVOLVIMENTO WEB-DW/Aulas/Semana14/tenorshare-4ddig-for-windows_11764721203430455701.exe
DESENVOLVIMENTO WEB-DW/Aulas/Semana14/4ddig-for-windows_11764721064966254201.exe
DESENVOLVIMENTO WEB-DW/Aulas/aula16.2/Cores-e-Gradientes-em-CSS-main/Cores-e-Gradientes-em-CSS-main/exemplos/ex02/IMG/produtos/colar_com_perola_central_colecao_elegance_col_0328_5157_1_9dfa357a33a3c97ac9ca151e2eb0f903.webp
DESENVOLVIMENTO WEB-DW/Aulas/aula16.2/Cores-e-Gradientes-em-CSS-main/Cores-e-Gradientes-em-CSS-main/exemplos/ex02/IMG/produtos/pulseira_feminina_elos_com_medalha_de_trevo_da_sorte_pingente_de_olho_grego_branco_com_mao_de_fatima_4239_1_18470e785d27ea47bcaa7f0edb167eb1.webp
DESENVOLVIMENTO WEB-DW/Aulas/aula16.2/Cores-e-Gradientes-em-CSS-main/Cores-e-Gradientes-em-CSS-main/g01_cores.pdf
