body {
    background-color:#5e480c ;

}

header h1{
    background-color:#6e5e2e;
    color: #edf0f0;
}

main{
    background-color: #be800cc5;
}

footer{
    background-color: #d89549;
}

kbd{
   color: #080100; 
}


h2 {
    color:#f7eff1 ;
}

